


body{
    background:#f3fffd;
    overflow-x:hidden;
    position:relative;
}

.bg-shape{
    position:absolute;
    border-radius:50%;
    z-index:-1;
}

.shape1{
    width:300px;
    height:300px;
    background:#c7fff4;
    top:-100px;
    left:-100px;
}

.shape2{
    width:350px;
    height:350px;
    background:#d9fff8;
    right:-120px;
    top:120px;
}

.shape3{
    width:250px;
    height:250px;
    background:#e9fffb;
    bottom: 150px;
    left:20%;
}



/* --- About SECTION --- */
.simple-about {
    padding-top: 60px; 
    padding-bottom: 90px;
       background: transparent;
    flex: 1 0 auto;
    z-index:1;
     position:relative;
}
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
}

.about-badge {
    background: rgba(0, 199, 167, 0.1);
    color: var(--primary);
    padding: 6px 20px;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
}

.about-container h2 {
    font-size: 2.5rem;
    color: var(--secondary);
    margin-bottom: 20px;
}

.about-description {
    font-size: 1.1rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.8;
}

.about-features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature-item {
    background: #ffffff;
    padding: 40px 25px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.04);
    width: 280px;
    border: 1px solid #f3f3f3;
    transition: all 0.4s;
}

.feature-item:hover {
    transform: translateY(-8px);
    border-color: var(--primary);
    box-shadow: 0 20px 40px rgba(0, 199, 167, 0.1);
}

.feature-icon-box {
    width: 60px;
    height: 60px;
    background: rgba(0, 199, 167, 0.08);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    transition: all 0.3s;
}

.feature-icon-box i {
    color: var(--primary);
    font-size: 1.6rem;
}

.feature-item:hover .feature-icon-box {
    background: var(--primary);
}

.feature-item:hover .feature-icon-box i {
    color: white;
}

.feature-item h4 {
    font-size: 1.25rem;
    color: var(--secondary);
    margin-bottom: 12px;
    font-weight: 600;
}

.feature-item p {
    font-size: 0.9rem;
    color: #777;
    line-height: 1.6;
    margin: 0;
}